{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "2.9.0"}}},
    {yamerl, {git, "https://github.com/yakaz/yamerl", {tag, "v0.7.0"}}},
    {ewsc, {git, "https://github.com/aialferov/ewsc", {tag, "0.2.0"}}},
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.15.1"}}}
]}.

{shell, [{apps, [ekub]}]}.
